<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Data_Driven_Suite">



<test name="Both_Correct">
<parameter name="UN" value="Admin1"></parameter>
<parameter name="PWD" value="Admin123"></parameter>
<classes>
<class name="data_driven_package.Both_Correct"></class>
</classes>
</test>


</suite>